- set_title @quarter.name
.page-header
  %h1= @quarter.name

- if admin?
  %p
    = field_label :short_name
    = @quarter.short_name

- if @graves.any?
  %p
    = field_label :graves
    - @graves.sort.each do |grave|
      = link_to grave.number, grave

- if admin?
  .form-actions
  = edit_btn edit_quarter_path(@quarter)
  = delete_btn @quarter
