= render 'shared/errors', messages:  @person.errors[:base],
                          show_info: @person.errors_with_dates?

= simple_form_for @person do |f|
  = f.input :quarter, quarter_select_options
  = f.association :grave, collection: @person.quarter_graves
  = f.input :first_name
  = f.input :last_name
  = f.input :family_name
  = f.input :lived
  = f.input :description
  = f.input :raw_record
  = f.label :data_state
  %br
  = f.collection_check_boxes :data_state, Person.check_boxes_array, :first, :last
  = f.input :notes
  
  = f.label :birth_date
  %br
  = f.fields_for :birth_date, @person.birth_date do |bd|
    = render 'date_fields', f: bd
    
  %br
  = f.label :death_date
  %br
  = f.fields_for :death_date, @person.death_date do |dd|
    = render 'date_fields', f: dd
  
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = cancel_link(@person.new_record? ? people_path : person_path(@person))
