= form_for @person, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :grave_id, :class => 'control-label'
    .controls
      = f.text_field :grave_id, :class => 'text_field'
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :family_name, :class => 'control-label'
    .controls
      = f.text_field :family_name, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :lived, :class => 'control-label'
    .controls
      = f.text_field :lived, :class => 'text_field'
  .control-group
    = f.label :raw_record, :class => 'control-label'
    .controls
      = f.text_field :raw_record, :class => 'text_field'
  .control-group
    = f.label :data_state, :class => 'control-label'
    .controls
      = f.text_field :data_state, :class => 'text_field'
  .control-group
    = f.label :notes, :class => 'control-label'
    .controls
      = f.text_field :notes, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn'
