- set_title

- if admin?
  = link_to t('.new'), new_person_path, class: 'btn btn-primary right'

.page-header.people
  %h1= t '.title'

= form_tag search_people_path, method: :post do
  = text_field_tag :search, params[:search]
  = submit_tag t('.search'), name: nil, class: 'btn'

%table.table.table-striped#people
  %thead
    %tr
      %th= t '.name'
      %th= t '.birth'
      %th= t '.death'
      %th= t '.grave'
      - if admin?
        %th= t 'helpers.actions'
  %tbody
    - @people.each do |person|
      %tr
        %td= link_to person.full_name, person
        %td= person.birth_date
        %td= person.death_date
        %td= link_to t('.grave'), person.grave
        - if admin?
          %td
            = edit_btn(edit_person_path(person), class: 'btn btn-mini')
            = delete_btn(person, class: 'btn btn-mini btn-danger')

= will_paginate
