- set_title @person.full_name

.page-header
  %h1= @person.full_name

- Person::PUBLIC_ATTRIBUTES.each do |attr|
  - if @person.send(attr).present?
    %p
      = field_label attr
      = @person.send(attr)

- if @person.grave
  %p
    = field_label :grave
    = link_with_name @person.grave

- if admin?
  - admin_attrs = [:notes, :raw_record]
  - admin_attrs.each do |attr|
    - if @person.send(attr).present?
      %p
        = field_label attr
        = @person.send(attr)
  %p
    = field_label :data_state
    = @person.data_states
    
  .form-actions
    = edit_btn edit_person_path(@person)
    = delete_btn @person
