.page-header
  %h1= @grave.name

%p
  = field_label :quarter
  = @grave.quarter ? (link_with_name @grave.quarter) : t('.no_quarter')

%p
  = field_label :number
  = @grave.number

- if @grave.description.present?
  %p
    = field_label :description
    = @grave.description
  
- if @grave.people.any?
  %p
    = field_label :people, no_br: true
    - @grave.people.each do |person|
      %br
      = link_to person.full_name, person
  
- if admin?
  
  %p
    = field_label :family_name
    = @grave.family_name
  %p
    = field_label :notes
    = @grave.notes
  
  .form-actions
    = edit_btn edit_grave_path(@grave)
    = delete_btn @grave
