- model_class = Grave
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:quarter_id) + ':'
  %br
  = @grave.quarter_id
%p
  %strong= model_class.human_attribute_name(:type) + ':'
  %br
  = @grave.type
%p
  %strong= model_class.human_attribute_name(:row) + ':'
  %br
  = @grave.row
%p
  %strong= model_class.human_attribute_name(:number) + ':'
  %br
  = @grave.number
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @grave.description
%p
  %strong= model_class.human_attribute_name(:family_name) + ':'
  %br
  = @grave.family_name
%p
  %strong= model_class.human_attribute_name(:data_state) + ':'
  %br
  = @grave.data_state
%p
  %strong= model_class.human_attribute_name(:notes) + ':'
  %br
  = @grave.notes

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), graves_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_grave_path(@grave), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), grave_path(@grave), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
